{% extends "base_with_menu.html" %}
{% block title %} 目的地 {% endblock title %}
{% block content %}
<div class="container" style="min-height: 800px">
    <!--<h1>-->
    目的地
    <!--</h1>-->
    <!--<div>-->
        <!--<textarea name="test_put" id="test_put" cols="30" rows="10"></textarea>-->
    <!--</div>-->
    <!--<div>-->
        <!--<input type="text" value="http://gaomumu.com:9200/megacorp/employee/_search/" id="test_url" style="width: 60%">-->
    <!--</div>-->

    <!--<button type="button" onclick="test_put()">插入</button>-->
    <!--<script>-->

        <!--var test_arr = [1, [2, 3, [4, 5, [6, 9]], 8]];-->
        <!--var result = [];-->
        <!--function test(test) {-->
            <!--for (var i = 0; i < test.length; i++) {-->
                <!--if (!(test[i] instanceof Object)) {-->
                    <!--result.push(test[i])-->
                <!--} else {-->
                    <!--this.test(test[i])-->
                <!--}-->
            <!--}-->
        <!--}-->
        <!--test(test_arr);-->

        <!--function test_put() {-->
<!--//            var data = $('#test_put') ? $('#test_put') : {}-->
<!--//            var put_data = JSON.parse(data)-->
            <!--$.ajax({-->
                <!--url: $('#test_url').val(),-->
                <!--type: 'GET',-->
<!--//                data: put_data,-->
                <!--success: function (result) {-->
                    <!--console.log(result)-->
                <!--}-->
            <!--})-->
        <!--}-->
<!--    </script>-->


</div>

{% endblock content %}