{% extends "base_with_menu.html" %}
{% block title %} 目的地 {% endblock title %}
{% block ext_before_css %}

{% endblock ext_before_css %}
{% block ext_after_css %}
    <style>
        body {
            background-color: #F7F8FA;
        }

        .user_cover {
            height: 20rem;
            margin: 1rem 0 0 0;
            background-color: rgba(150, 145, 147, 0.07);
            overflow: hidden;
        }

        .user_cover p {
            position: relative;
            display: inline-block;
            overflow: hidden;
            font-size: 1.5rem;
            margin-right: 2rem;
            margin-top: 2rem;
            color: #4F4F51;
            border: 1px #E0E0E0 solid;
            border-radius: 5px;
            height: 2.8rem;
            line-height: 2.4rem;
            padding: 0.2rem 1rem 0.2rem 1rem;
        }

        .user_cover p input {
            position: absolute;
            right: 0;
            height: 6em;
            top: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            cursor: pointer;
        }

        .user_Profile {
            border: solid 1px #E0E0E0;
            min-height: 14rem;
            padding: 1.5rem;
            display: flex;
            background-color: #ffffff;
        }

        .user_Profile-image {
            height: 11rem;
            width: 14rem;
            background-color: #9FADC7;
            position: relative;
        }

        .user_Profile-image-content {
            width: 14rem;
            height: 14rem;
            overflow: hidden;
            background-color: red;
            position: absolute;
            top: -3rem;
            border: #ffffff 2px solid;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;;
        }

        .user_Profile-image-content img {
            width: 14rem;
            height: 14rem;
            overflow: hidden;
        }

        .user_Profile-image-content input {
            position: absolute;
            height: 14em !important;
            width: 14rem !important;
            left: 0;
            top: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            cursor: pointer;
        }

        .user_Profile-content {
            height: 11rem;
            width: 30rem;
            flex: 1;
            padding-left: 2rem;
            display: block;
        }

        .user_Profile-content-head {
            height: 3rem;
        }

        .user_Profile-content-body {
            height: 6rem;
            padding-top: 1rem;
        }

        .user_Profile-content-body div {
            height: 2.5rem;
            line-height: 2.5rem;
        }

        .user_Profile-content i {
            font-size: 1.5rem;
            color: #9FADC7;
        }

        .user_Profile-content-footer {
            height: 2rem;
            color: #9FADC7;
        }

        .more_data {
            border: none;
            outline: none;
            background-color: #ffffff;
            padding: 0;
            margin: 0;
        }

        .edit_data_btn {
            border: 1px solid #0F88EB;
            border-radius: 5px;
            width: 10rem;
            height: 3rem;
            margin-top: -1rem;
            margin-right: 1rem;
            color: #0F88EB;
            background-color: #ffffff;
            padding: 0;
            outline: none;
        }

        .profile_main_column {
            border: solid 1px #E7EAF1;
            margin-top: 1rem;
            background-color: #ffffff;
        }

        .profile_main_head {
            clear: both;
            padding-top: 1rem;
        }

        .profile_main_ul {
            list-style: none;
            padding: 0;
            margin: 0;
            clear: both;
        }

        .profile_main_ul li {
            float: left;
            margin: 0 2rem 0 2rem;
            padding: 0 0 0.8rem 0;

        }

        .profile_main_ul li a {
            font-size: 1.6rem;
            color: #2E2E2E;
            text-decoration: none;
        }

        .profile_main_ul li a span {
            font-size: 1.2rem;
            color: #8590A6;
        }

        .profile_main_activities {
            padding: 1rem 2rem 5rem 2rem;
        }

        .list_text_main {

        }

        .list_text_head {
            font-size: 1.5rem;
            font-weight: bold;
            border-bottom: 1px solid #E7EAF1;
        }

        .profile_main_activities .list_item {
            min-height: 5rem;
            padding: 1rem 0 1rem 0;
        }

        .profile_main_activities .list_item_head {
            padding: 0;
            width: 100%;
            margin: 0;
            color: #8590A6;
        }

        .profile_main_activities .list_item_head div:nth-child(1) {
            display: inline-block;
            width: 80%;
            margin: 0;
        }

        .profile_main_activities .list_item_head div:nth-child(2) {
            display: inline-block;
            text-align: right;
            margin: 0;
            width: 19%;

        }

        .content_item {
            padding: 1rem 0 1rem 0;
            border-bottom: 1px solid #E7EAF1;
        }

        .content_item a {
            color: black;
            text-decoration: none;
        }

        .profile_main_right_top {
            border: solid 1px #E7EAF1;
            background-color: #ffffff;
            text-align: center;
            height: 6rem;
            padding: 1rem 0 1rem 0;
        }

        .profile_main_right_top:after {
            /*清除浮动*/
            content: ".";
            height: 0;
            visibility: hidden;
            display: block;
            clear: both;
        }

        .profile_main_right_top a {
            float: left;
            width: 50%;
            text-decoration: none;
        }

        .profile_main_right_top a div {
            height: 2rem;
        }

        .profile_main_right_top a div:nth-child(1) {
            color: #9FADC7;
        }

        .profile_main_right_top a div:nth-child(2) {
            color: black;
        }

        .active_tab {
            border-bottom: 3px solid #0F88EB;
            font-weight: bold;
        }
    </style>
{% endblock ext_after_css %}
{% block content %}
    <div class="container" id="home" style="min-height: 800px">
        <div class="user_cover" id="user_home_bgk" style="background: url({{ user_home }})">
            <p class="navbar-right">
                &nbsp;
                <span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;
                <input type="file" name="home_img" id="upload_cover_images"
                       accept="image/gif, image/jpeg, image/png, image/jpg">
                编辑封面图片
            </p>
        </div>
        <div class="user_Profile">
            <div class="user_Profile-image">
                <div class="user_Profile-image-content">
                    <img id="user_title_img" src="{{ user_title }}" alt="">
                    <input type="file" name="user_title" id="upload_user_title"
                           accept="image/gif, image/jpeg, image/png, image/jpg">
                </div>
            </div>
            <div class="user_Profile-content">
                <div class="user_Profile-content-head">
                    <h3 style="padding: 0;margin: 0">小方同学
                        <small>web攻城狮</small>
                    </h3>
                </div>
                <div class="user_Profile-content-body">
                    <div>
                        <span>
                            <i class=" glyphicon glyphicon-map-marker"></i>
                            &nbsp;&nbsp;<span>河南</span>
                        </span>

                    </div>
                    <div>
                        <i class="glyphicon glyphicon-edit"></i>
                        &nbsp;&nbsp;<span>我是一个永不服输的人</span>

                    </div>
                </div>
                <div class="user_Profile-content-footer">
                    <button class="more_data" type="button">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                        &nbsp;&nbsp;<span>更多资料</span>
                    </button>
                    <button type="button" @click="edit_personal_data" class="edit_data_btn navbar-right">
                        编辑个人资料
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 " style="padding-right:0">
                <div class="profile_main_column">
                    <div class="profile_main_head">
                        <ul class="profile_main_ul">
                            <li {% if action == "dynamic" %} class="active_tab" {% endif %}><a
                                    href="/home/people/fangxinyun/dynamic/">动态</a></li>
                            <li {% if action == "collection" %} class="active_tab" {% endif %}><a
                                    href="/home/people/fangxinyun/collection/">收藏&nbsp;<span>20</span></a></li>
                            <li {% if action == "problem" %} class="active_tab" {% endif %}><a
                                    href="/home/people/fangxinyun/problem/">问题&nbsp;<span>{{ problem_count }}</span></a>
                            </li>
                            <li {% if action == "answer" %} class="active_tab" {% endif %}><a
                                    href="/home/people/fangxinyun/answer/">回答&nbsp;<span>6</span></a></li>
                        </ul>
                    </div>
                    <div class="profile_main_activities" style="clear: both;border-top: 1px solid #F0F2F7">
                        {% if action == 'problem' %}
                            <div class="list_text_head">
                                <p>我的提问</p>
                            </div>
                            <div class="list_text_main">
                                {% for item in item_list %}
                                    <div class="list_item">
                                        <div class="list_item_head" style="">
                                            <div style="">{{ item.title }}</div>
                                            <div style="">{{ item.write_date }}</div>
                                        </div>
                                        <div class="content_item">
                                            <a href="/community/comm/text_view/{{ item.id }}/">
                                                {{ item.text_txt }}
                                            </a>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        {% elif action == 'answer' %}
                        {% elif action == 'collection' %}
                        {% elif action == 'dynamic' %}
                            <div class="list_text_head">
                                <p>我的动态</p>
                            </div>
                            <div class="list_text_main">
                                <div class="list_item">
                                    <div class="list_item_head" style="">
                                        <div style="">关注了问题</div>
                                        <div style="">1天前</div>
                                    </div>
                                    <div class="content_item">
                                        <a href="/home/">
                                            如果你很爱一个人，但是你却感觉他只是一般般喜欢你，你还会继续吗？
                                        </a>
                                    </div>
                                </div>
                                <div class="list_item">

                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="profile_main_column">
                    <div class="profile_main_right_top">
                        <a href="/home/">
                            <div>
                                收藏
                            </div>
                            <div>
                                70
                            </div>
                        </a>
                        <a href="/home/">
                            <div>
                                被收藏
                            </div>
                            <div>
                                60
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block ext_js %}
    <script src="/static/js/vendor/jquery.ui.widget.js"></script>
    <script src="/static/js/vendor/jquery.iframe-transport.js"></script>
    <script src="/static/js/vendor/jquery.fileupload.js"></script>
    <script src="/static/js/vendor/jquery.fileupload-process.js"></script>
    <script src="/static/js/vendor/jquery.fileupload-validate.js"></script>
    <script type="text/javascript">
        var home_vue = new Vue({
            delimiters: ['{$', '$}'],
            el: "#home",
            data: {},
            mounted: function () {
                var self = this;
                self._init_upload_image()

            },
            methods: {
                _init_upload_image: function () {
                    $("#upload_cover_images").fileupload({
                        url: '/base/upload_img/',
                        sequentialUploads: true,
                        formData: {
                            "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),
                            "user_id":{{ request.user.id }},
                            "page": "user_home"
                        },
                        add: function (e, data) {
                            var jqXHR = data.submit().success(function (result, textStatus, jqXHR) {
                                var res_arr = result.split("|")
                                if (res_arr.length > 1) {
                                    alert(res_arr[1])
                                } else {
                                    $("#user_home_bgk").css("background", "url(" + result + ")")
                                }
                            })
                        }
                    });
                    $("#upload_user_title").fileupload({
                        url: '/base/upload_img/',
                        sequentialUploads: true,
                        formData: {
                            "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),
                            "user_id":{{ request.user.id }},
                            "page": "user_title"
                        },
                        add: function (e, data) {
                            var jqXHR = data.submit().success(function (result, textStatus, jqXHR) {
                                var res_arr = result.split("|")
                                console.log(res_arr)
                                if (res_arr.length > 1) {
                                    alert(res_arr[1])
                                } else {
                                    $("#user_title_img").attr("src", result)

                                }
                            })
                        }
                    })
                },
                edit_personal_data: function () {
                    console.log("编辑个人资料")
                }
            }
        })
    </script>
{% endblock ext_js %}