{% extends "base_with_menu.html" %}
{% block title %} 社区 {% endblock title %}

{% block content %}
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .panel-content {
            padding: 2rem 0 0 0;
        }

        .panel-body {
            padding: 0;
        }

        .comm-list {
            margin: 0;
        }

        .comm-list-item {
            list-style: none;
            border-bottom: solid 1px #E9E9E9;
            padding-left: 1rem;
        }

        .list-title {
            font-family: "MF YueYuan (Noncommercial) Regular";
            font-size: 2rem;
            margin: 0.5rem 0 0.5rem 0;
            font-weight: bold;
        }

        .list-descrip {
            font-size: 1.6rem;
            font-family: "Microsoft YaHei";
            padding: 0 1rem 0 0;
            display: flex;
        }

        .list-descrip p {
            line-height: 2rem;
            display: flex;
            flex: 1;
        }

        .list-descrip div {
            width: 3rem;
            text-align: right;
        }

        .comm-list-item a, .list-text-text a, .list-text-time a {
            color: black;
            text-decoration: none;
        }

        .comm-list-item a:link, .comm-list-item a:visited, .comm-list-item a:active {
            color: black;
            text-decoration: none;
        }

        .comm-list-item a:hover {
            text-decoration: none;
        }

        .list-text {
            display: flex;
            border-bottom: solid 1px #E9E9E9;
            height: 4rem;
        }

        .list-text-avatar {
            color: #4cae4c;
            padding: 0.5rem 0 0.5rem 0;
            margin: 0;
            position: relative;
        }

        .list-text-avatar img {
            padding: 0 0.5rem 0 0.5rem;
            width: 4rem;
        }

        .list-text-text {
            flex: 1;
            width: 70%;
            line-height: 4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .list-text-time {
            padding: 0 1rem 0 1rem;
            line-height: 4rem;
        }

        .view_comm_edit_cent {
            line-height: 50px;
            display: none;
            background-color: #E9E9E9;
        }

        .edit-top-right-close {
            margin-right: 2rem;
            font-size: 2.5rem;
            color: #919191;
            cursor: pointer;
            padding-top: 1rem;
        }

        .textarea_body {
            width: 100%;
            height: 5rem;
        }

        .textarea_left_content {
            padding: 1rem 0.5rem 1rem 0;
        }

        .textarea_right_content {
            padding: 1rem 0 1rem 0.5rem;
        }

        .textarea_left_content textarea {
            height: 20rem;
            border: none;
            outline: none;
        }

        .textarea_right_content div {
            background-color: white;
            height: 20rem;
        }

        .edit-comm-submit {
            padding: 0;
        }

        .edit-comm-submit [type=submit] {
            background-color: #42B983;
            color: white;
            border: none;
            outline: none;
        }

        .edit-comm-submit [type=button] {
            background-color: #E9E9E9;
            color: #42B983;
            outline: none;
        }
    </style>
    <div id="comm_vue">
        <div class="container" style="min-height: 800px">
            <div class="jumbotron">
            </div>
            <div>
                <div style="width: 100%;" class="btn-group" role="group" aria-label="选项">
                    <button type="button" class="btn btn-default active">分类</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                    <button style="left: -1.2rem" v-on:click="show_edit_modal" type="button" class="btn navbar-right"><i
                            class="glyphicon glyphicon-plus"></i>&nbsp;写一笔
                    </button>
                </div>
            </div>
            <div class="col-lg-6 panel-content" style="padding-right: 0.8rem">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">分类</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="comm-list">
                            {% for item in sort_list %}
                                <li class="comm-list-item">
                                    <a href="/community/comm/view/{{ item.id }}/1/">
                                        <div class="list-title">
                                            {{ item.name }}
                                        </div>
                                        <div class="list-descrip">
                                            <p>
                                                {{ item.describe }}
                                            </p>
                                            <div>
                                                <span class="badge">{{ item.new_comm }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 panel-content" style="padding-left: 0.8rem">
                <div class=" panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新</h3>
                    </div>
                    <div class="panel-body ">
                        <!--开始渲染右侧文章列表-->
                        {% for f in comm_list %}
                            <div class="list-text">
                                <div class="list-text-avatar">
                                    <a href="#">
                                        <img src="{{ f.user_icon }}" alt="用户头像"
                                             class="img-circle">
                                    </a>
                                </div>
                                <div class="list-text-text">
                                    <a href="/community/comm/text/view/{{ f.sort_id }}/{{ f.id }}/">
                                        <!--这里写跳转到文章详情的URL-->
                                        {{ f.name }}
                                    </a>
                                </div>
                                <div class="list-text-time">
                                    <a href="/community/">{{ f.date }}</a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div id="edit_con_form" class="navbar-fixed-bottom view_comm_edit_cent">
            <div class="container ">
                <div style="">
                    <span>新建帖子</span>
                    <span class="edit-top-right-close navbar-right">
                 <p v-on:click="hidden_edit_form">
                     <i class="glyphicon glyphicon-chevron-down"></i>
                 </p></span>
                </div>

                <form class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <input style="width: 25rem" type="text" v-model="comm_title" class="form-control" id="sort_name"
                               placeholder="请输入帖子的题目">
                    </div>
                    <div class="form-group">
                        <select style="width: 25rem" v-model="comm_sort" class="form-control">
                            {% for item in edit_box %}
                                <option id="{{ item.id }}" value="{{ item.id }}"
                                        name="comm_sort">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="textarea_b_content">
                        <div class="textarea_left_content col-lg-6">
                            <textarea v-model="comm_text" name="text_body" id="inputText"
                                      class="textarea_body"></textarea>
                        </div>
                        <div class="textarea_right_content col-lg-6">
                            <div>
                                {$ comm_text $}
                            </div>
                        </div>
                    </div>
                    <div class="edit-comm-submit col-lg-12">
                        <button type="submit" v-on:click="comm_create" class="btn"><i
                                class="glyphicon glyphicon-plus"></i> &nbsp;创建
                        </button>
                        <button type="button" class="btn"><i class="glyphicon glyphicon-plus"></i> &nbsp;取消
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>

{% endblock content %}
{% block ext_js %}
    <script>
        var comm_vue = new Vue({
            delimiters: ['{$', '$}'],
            el: '#comm_vue',
            data: {
                comm_text: '',
                comm_title: '',
                comm_sort: "{{ default_sort }}"
            },
            mounted: function () {
                this.$nextTick(function () {
                    // 代码保证 this.$el 在 document 中
                    setInterval(function () {
                   //   window.location="/community/";
                        console.log('快疯了吧！哈哈！')
                    },10)

                })

            },
            methods: {
                show_edit_modal: function (event) {
                    var active = $("#edit_con_form").is(":hidden")
                    if (active == true) {
                        $("#edit_con_form").css({"display": "block"})
                    }
                },
                hidden_edit_form: function (event) {
                    var active = $("#edit_con_form").is(":hidden")
                    if (active == false) {
                        $("#edit_con_form").css({"display": "none"})
                    }
                },
                comm_create: function (e) {
                    e.preventDefault();
                    var self = this
                    if (this.comm_title.replace(/[ ]/g, "") == '') {
                        alert("标题不能为空")
                    } else if (this.comm_title.replace(/[ ]/g, "") == '') {
                        alert("内容不能为空")
                    } else {
                        var data = {
                            "comm_title": self.comm_title,
                            "comm_text": self.comm_text,
                            "comm_sort": self.comm_sort,
                            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
                        };

                        $.post('/community/create/', data, function (result) {
                            console.log(result);

                            result = JSON.parse(result);
                            if (result.next) {
                                window.location.href = result.next;
                            } else if (result.error_msg) {
                                alert(result.error_msg)
                            } else {
                                self.comm_text = '';
                                self.comm_title = '';
                                $("#edit_con_form").css({"display": "none"})
                                window.location.reload()
                            }
                        });

                    }

                }
            }
        })
    </script>
{% endblock ext_js %}
