{% extends "base_with_menu.html" %}
{% block title %} 社区 {% endblock title %}
{% block content %}
    <div class="container" style="min-height: 800px">
        <div class="jumbotron">
            {#            <h1>Hello, world!</h1>#}
            {#            <p>...</p>#}
            {#            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
        </div>
        <div>
            <div style="width: 100%;border: 1px red solid" class="btn-group" role="group" aria-label="选项">
                <button type="button" class="btn btn-default">分类</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
                <button style="left: -1.2rem" type="button" class="btn navbar-right"><i
                        class="glyphicon glyphicon-plus"></i>&nbsp;写一笔
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">分类</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class=" panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">最新</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>


{% endblock content %}