{% extends "base_with_menu.html" %}
{% block title %} 社区 {% endblock title %}
{% block ext_before_css %}

{% endblock ext_before_css %}
{% block ext_after_css %}
    <link rel="stylesheet" href="/static/css/wangEditor.min.css">
{% endblock ext_after_css %}

{% block content %}
    <div id="topic_text_view">
        {% csrf_token %}
        <div class="container" style="min-height: 300px">
            <div class="jumbotron">
            </div>
            <br>
            {{ text.collection }} <br>

            {{ text.user_icon }}

            <div id="editor" style="height: 200px">
                <h2>{{ text.title }}</h2>
                <img src="{{ text.user_icon }}" alt="">
                {{ text.text }}
            </div>
            <button type="button" v-on:click="get_html"> 获取编辑器区域完整html代码</button>
            <button type="button" v-on:click="get_text">获取编辑器纯文本内容</button>
            <button type="button" v-on:click="get_format">获取格式化后的纯文本</button>

        </div>

    </div>




{% endblock content %}
{% block ext_js %}
    <script type="text/javascript" src="/static/js/wangEditor.min.js"></script>
    <script type="text/javascript">

        var text_view = new Vue({
            delimiters: ['{$', '$}'],
            el: "#topic_text_view",
            data: {
                text: ''
            },
            mounted: function () {
                this.$nextTick(function () {
                    // 代码保证 this.$el 在 document 中
                    var self = this;
                    self.editor = new wangEditor($("#editor"));
                    self.editor.config.uploadParams = {
                        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                        user: "{{ request.user.id }}"
                    };
                    self.editor.config.uploadImgUrl = '/base/upload_img/';
                    self.editor.config.hideLinkImg = true;
                    self.editor.create();
                })
            },
            methods: {
                get_html: function () {
                    var self = this;
                    var html = self.editor.$txt.html();
                    console.log(html)
                },
                get_text: function () {
                    var self = this;
                    var text = self.editor.$txt.text();
                    console.log(text)
                },
                get_format: function () {
                    var self = this;
                    var formatText = self.editor.$txt.formatText();
                    console.log(formatText)
                },
            }
        });
        {#    console.log(text_view)#}
    </script>
{% endblock ext_js %}