{% extends "base_with_menu.html" %}
{% block title %} 社区 {% endblock title %}
{% block ext_before_css %}

{% endblock ext_before_css %}
{% block ext_after_css %}
    <link rel="stylesheet" href="/static/css/wangEditor.min.css">
    <style>
        .QuestionHeader {
            padding: 1.5rem 0 1.5rem 0;
            border-bottom: 1px dashed #F7F8FA;
        }

        .QuestionHeader-main {
        }

        .QuestionHeader-topics {
        }

        .QuestionHeader-title {
            /*只显示一行多余用省略号代替*/
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            /*只显示一行多余用省略号代替end*/
            margin-top: 1.5rem;
        }

        .QuestionHeader-side {
            height: 60px
        }

        .QuestionRichText {
            line-height: 2.5rem;
            font-size: 1.5rem
        }

        .guan_zhu_zhe {
            border: none;
            background-color: #ffffff;
            outline: none
        }

        .NumberBoard-value {
            font-weight: bold;
            margin-top: 0.5rem
        }

        .QuestionHeader-footer {
            margin-bottom: 2rem;
        }

        .QuestionHeader-footer button {
            border: none;
            background-color: #ffffff;
            outline: none;
            margin-right: 2rem;
            color: #9FADC7;
        }

        .Question-main {
            background-color: #F7F8FA;
            min-height: 200px;
        }

        .Question-main_rich_text {
            background-color: #ffffff;
            min-height: 100px;
            margin: 2rem 0 10rem 0;
            padding: 1.5rem;
        }

        .Question-main_rich_text_top {
            padding: 1rem;
        }

        .rich_text_user_images {
            width: 38px;
            height: 38px;
        }

        .Question-main_rich_text_image {
            float: left;
        }

        .Question-main_rich_text_username {
            float: left;
            padding-left: 2rem;
            line-height: 38px;
        }

        .Question-main_rich_text_deit {
            padding-top: 1rem;
            clear: both;
            min-height: 300px;
        }

        #rich_text_deit {
            min-height: 200px;
        }

        .submit_answer {
            outline: none;
        }

        .comment_card {
            background-color: #ffffff;
            min-height: 100px
        }

        .comment_card_list {
            padding: 1rem 2rem 1rem 2rem;
            clear: both;
            display: block;
        }

        .comment_card_list_top {
            padding: 2rem 2rem 0.5rem 2rem;
            clear: both;
            display: block;
            border-bottom: 1px #F0F2F7 solid;
        }

        .comment_list_item_top {
            height: 38px;
            line-height: 38px;
            margin: 0 0 2rem 0;
        }

        .comment_list_item_top div {
            margin-right: 1rem;
        }

        .comment_list_item_main {
            min-height: 50px;
        }

        .comment_list_item_date {
            height: 2rem;
            color: #9FADC7;
        }

        .comment_list_item_buttom {
            padding-top: 1rem;
            color: #9FADC7;
            font-size: 1.5rem;
        }

        .comment_list_item_buttom button {
            display: inline-block;
            height: 1.5rem;
            margin-right: 2rem;
            background-color: #ffffff;
            border: none;
            outline: none;
        }
    </style>
{% endblock ext_after_css %}

{% block content %}
    <div id="topic_text_view">
    {% csrf_token %}
    <div class="QuestionHeader">
        <div class="container">
            <div class=" row ">
                <div class="QuestionHeader-main col-lg-9">
                    <div class="QuestionHeader-topics ">
                        <br>
                    </div>
                    <h2 class="QuestionHeader-title">{{ text.title }}</h2>
                    <div class="QuestionRichText ">
                        {{ text.text|safe }}

                    </div>
                </div>
                <div class="QuestionHeader-side col-lg-3" style="">
                    <div class="navbar-right" style="display: block;margin-right: 2rem;text-align: center">
                        <div style="">
                            被浏览
                        </div>
                        <div class="NumberBoard-value">
                            235
                        </div>
                    </div>

                    <button type="button" class="navbar-right guan_zhu_zhe" style="margin-right: 2rem">
                        <div>
                            关注者
                        </div>
                        <div class="NumberBoard-value">
                            {{ text.collection }}
                        </div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 QuestionHeader-footer">
                    <button v-on:click="follow_question({{ parent_id }})" type="button">
                        <i class="glyphicon glyphicon-heart"></i>
                        关注
                    </button>
                    <a href="#rich_text_deit_a">
                        <button v-on:click="comment_question({{ parent_id }})" type="button">
                            <i class="glyphicon glyphicon-comment"></i>
                            评论
                        </button>
                    </a>
                    <button v-on:click="report_question({{ parent_id }})" type="button">
                        <i class="glyphicon glyphicon-flag"></i>
                        举报
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="Question-main">
        <div class="container">
            <div class="row" style="padding-top: 2rem">
                <div class="col-lg-9">
                    <div class="comment_card">
                        <div class="comment_card_list_top">
                            {{ sum_comment }}个回答
                        </div>
                        <div class="comment_card_list">
                            {% for cm in comm_list %}
                                <div class="comment_list_item">
                                    <div class="comment_list_item_top" style="clear: both">
                                        <div class="comment_list_item_image" style="float: left">
                                            <img class="rich_text_user_images"
                                                 src="{{ cm.user_icon }}" alt="">
                                        </div>
                                        <div style="float: left">
                                            {{ cm.user_name }}
                                        </div>
                                    </div>
                                    <div class="comment_list_item_main">
                                        {{ cm.content|safe }}
                                    </div>
                                    <div class="comment_list_item_date">
                                        <p>编辑于 {{ cm.write_date }}</p>
                                    </div>
                                    <div class="comment_list_item_buttom">
                                        <button v-on:click="comment_level2({{ cm.id }})" type="button">
                                            <span class="glyphicon glyphicon-comment"></span>
                                            {{ cm.sub_number }} 条评论
                                        </button>
                                        <button v-on:click="praise_comment({{ cm.id }})" type="button">
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                            赞
                                        </button>
                                        <button v-on:click="collect_comment({{ cm.id }})" type="button">
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                            收藏
                                        </button>
                                    </div>
                                    <div>
                                        <hr>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="Question-main_rich_text">
                        <div class="Question-main_rich_text_top">
                            <div class="Question-main_rich_text_image">
                                <img class="rich_text_user_images"
                                     src="{{ text.user_icon }}" alt="">
                            </div>
                            <div class="Question-main_rich_text_username">
                                {{ text.user_name }}
                            </div>
                            {{ editorContent|safe }}
                        </div>
                        <div class="Question-main_rich_text_deit">
                            <a name="rich_text_deit_a"></a>
                            <div id="rich_text_deit">


                            </div>
                            <div style="padding: 1.5rem;margin-bottom: 2rem">
                                <button type="button" class="btn navbar-right submit_answer" style="outline: none;"
                                        v-on:click="submit_answer">
                                    提交回答
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div style="background-color: #ffffff;min-height: 100px">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block ext_js %}
    <script type="text/javascript" src="/static/js/wangEditor.min.js"></script>
    <script type="text/javascript">

        var text_view = new Vue({
            delimiters: ['{$', '$}'],
            el: "#topic_text_view",
            data: {
                text: '',
                editorContent: "",
                parent_type: "{{ parent_type }}",
                parent_id:{{ parent_id }},
            },
            mounted: function () {
                var self = this;
                self.editor = new wangEditor($("#rich_text_deit"));
                self.editor.config.uploadParams = {
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    user: '',
                };
                self.editor.onchange = function () {
                    self.editorContent = self.editor.$txt.html();
                };
                self.editor.config.uploadImgUrl = '/base/upload_img/';
                self.editor.config.hideLinkImg = true;
                self.editor.create();
            },
            methods: {
                follow_question: function (id) {
                    console.log("关注 ", id)
                },
                comment_question: function (id) {
                    console.log("问题的id ", id)

                },
                report_question: function (id) {
                    console.log("举报 ", id)
                },
                submit_answer: function (e) {
                    var self = this;
                    var data = {
                        "parent_type": self.parent_type,
                        "parent_id": self.parent_id,
                        "content": self.editorContent,
                        "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),
                    };
                    $.post("/base/create/comment/", data, function (result) {
                        result = JSON.parse(result);
                        if (result.error_msg) {
                            alert(result.error_msg)
                        } else {
                            window.location.reload()
                            self.editorContent = ''
                        }
                    })

                },
                comment_level2: function (id) {
                    console.log("评论  ", id)
                },
                praise_comment: function (id) {
                    console.log("点赞  ", id)
                },
                collect_comment: function (id) {
                    console.log("收藏  ", id)
                }
            }
        })


        /*
         var text_view = new Vue({
         delimiters: ['{$', '$}'],
         el: "#topic_text_view",
         data: {
         text: ''
         },
         mounted: function () {
         this.$nextTick(function () {
         // 代码保证 this.$el 在 document 中
         var self = this;
         self.editor = new wangEditor($("#editor"));
         self.editor.config.uploadParams = {
         csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
         user: ""
         };
         self.editor.config.uploadImgUrl = '/base/upload_img/';
         self.editor.config.hideLinkImg = true;
         self.editor.create();
         })
         },
         methods: {
         get_html: function () {
         var self = this;
         var html = self.editor.$txt.html();
         console.log(html)
         },
         get_text: function () {
         var self = this;
         var text = self.editor.$txt.text();
         console.log(text)
         },
         get_format: function () {
         var self = this;
         var formatText = self.editor.$txt.formatText();
         console.log(formatText)
         },
         }
         });

         */

    </script>
{% endblock ext_js %}