{% extends "base_with_menu.html" %}
{% block title %} 社区-问题列表 {% endblock title %}
{% block ext_before_css %}
{% endblock ext_before_css %}
{% block ext_after_css %}
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .panel-content {
            padding: 2rem 0 0 0;
        }

        .panel-body {
            padding: 0;
        }

        .comm-list {
            margin: 0;
        }

        .comm-list-item {
            list-style: none;
            border-bottom: solid 1px #E9E9E9;
            padding-left: 1rem;
        }

        .list-title {
            font-family: "MF YueYuan (Noncommercial) Regular";
            font-size: 2rem;
            margin: 0.5rem 0 0.5rem 0;
            font-weight: bold;
        }

        .list-descrip {
            font-size: 1.6rem;
            font-family: "Microsoft YaHei";
            padding: 0 1rem 0 0;
            display: flex;
        }

        .list-descrip p {
            line-height: 2rem;
            display: flex;
            flex: 1;
        }

        .list-descrip div {
            width: 3rem;
            text-align: right;
        }

        .comm-list-item a, .list-text-text a, .list-text-time a {
            color: black;
            text-decoration: none;
        }

        .comm-list-item a:link, .comm-list-item a:visited, .comm-list-item a:active {
            color: black;
            text-decoration: none;
        }

        .comm-list-item a:hover {
            text-decoration: none;
        }

        .list-text {
            display: flex;
            border-bottom: solid 1px #E9E9E9;
        }

        .list-text-avatar {
            color: #4cae4c;
            padding: 1rem 0 1rem 0;
            margin: 0 auto;
            position: relative;
        }

        .list-text-avatar img {
            padding: 0 0.5rem 0 0.5rem;
            width: 5rem;
        }

        .list-text-text {
            flex: 1;
            padding: 1rem;
        }

        .list-text-time {
            padding: 1rem;
        }

        .view_comm_edit_cent {
            line-height: 50px;
            display: none;
            background-color: #E9E9E9;
        }

        .edit-top-right-close {
            margin-right: 2rem;
            font-size: 2.5rem;
            color: #919191;
            cursor: pointer;
            padding-top: 1rem;
        }

        .textarea_body {
            width: 100%;
            height: 5rem;
        }

        .textarea_left_content {
            padding: 1rem 0.5rem 1rem 0;
        }

        .textarea_right_content {
            padding: 1rem 0 1rem 0.5rem;
        }

        .textarea_left_content textarea {
            height: 20rem;
            border: none;
            outline: none;
        }

        .textarea_right_content div {
            background-color: white;
            height: 20rem;
        }

        .edit-comm-submit {
            padding: 0;
        }

        .edit-comm-submit [type=submit] {
            background-color: #42B983;
            color: white;
            border: none;
            outline: none;
        }

        .edit-comm-submit [type=button] {
            background-color: #E9E9E9;
            color: #42B983;
            outline: none;
        }

        .comm-list-item {
            height: 4rem;
            line-height: 4rem;
            border-bottom: 1px solid #E9E9E9;
        }

        .comm-list-item ul {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .comm-list-item ul li {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .comm-list-item ul li a {
            width: 100%;

        }

        .comm-list-item ul li:nth-child(1) {
            width: 60%;
        }

        .comm-list-item ul li:nth-child(2) {
            width: 15%;
            text-align: center;
        }

        .comm-list-item ul li:nth-child(3), .comm-list-item ul li:nth-child(4) {
            width: 5%;
            text-align: center;
        }

        .comm-list-item ul li:nth-child(5) {
            width: 15%;
            text-align: center;
        }
    </style>
{% endblock ext_after_css %}

{% block content %}

    <div id="comm_vue">
        <div class="container" style="min-height: 800px">
            <div class="jumbotron">
            </div>
            <div>
                <div style="width: 100%;" class="btn-group" role="group" aria-label="选项">
                    <button type="button" class="btn btn-default active">分类</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                    <button style="left: -1.2rem" v-on:click="show_edit_modal" type="button" class="btn navbar-right"><i
                            class="glyphicon glyphicon-plus"></i>&nbsp;写一笔
                    </button>
                </div>
            </div>
            <div>

                {% for item in comm_list %}
                    <div class="comm-list-item">
                        <ul>
                            <li title="{{ item.name }}"><a href="/community/comm/text/view/{{ item.sort_id }}/{{ item.id }}/">{{ item.name }}</a></li>
                            <li title="{{ item.user }}"><a href="#">{{ item.user }}</a></li>
                            <li title="{{ item.collection }}">{{ item.collection }}</li>
                            <li title="{{ item.pviews }}">{{ item.pviews }}</li>
                            <li title="{{ item.date }}">{{ item.date }}</li>
                        </ul>
                    </div>

                {% endfor %}
                </ul>
            </div>
        </div>

    </div>

{% endblock content %}
{% block ext_js %}
    <script>
        var comm_vue = new Vue({
            delimiters: ['{$', '$}'],
            el: '',
            data: {
                comm_text: '',
                comm_title: '',
                comm_sort: "{{ default_sort }}"
            },
            ready: function () {

            },
            methods: {}
        })
    </script>
{% endblock ext_js %}