<div class="container text_body" style="padding: 20px 0 20px 10%;width: 80%">
    <p>{{ text_str }}</p>
</div>

<div class="edit_container" title="{{ uuid }}">
        <div class="c_n_edit_container">


                <div title="" class="add_button add_button_show">
                    <a role="button" class="glyphicon glyphicon-plus show_edit_box_btn" title="添加"></a>
                    <div class="edit_object">
                        <ul>
                            <li class="eo_word _j_add_text_btn">
                                <a role="button" class="edit_add_text" title="添加文字">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    添加文字</a>
                            <li class="eo_pic _j_uploadbtncnt">
                                <a class="edit_add_image" role="button" title="添加照片">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    添加照片</a>
                            </li>
                            <li class="eo_title _j_add_paragraph_title_btn">
                                <a role="button" class="edit_add_title" title="添加段落标题">
                                    <span class="glyphicon glyphicon-align-left"></span>
                                    添加段落标题</a>
                            </li>
                        </ul>
                    </div>
                    <div class="edit_content add_text_con">
                        <textarea class="textarea_text" title="jBFXkthrQ6WEuVogk3k8fM"
                                  placeholder="在这儿添加文章文字......"></textarea>
                        <button type="button" class="add_text_btn btn">完成</button>
                    </div>
                    <div class="edit_content add_img_con">
                        <span class="fileinput-button">
                            <div>
                                    <span class="glyphicon glyphicon-picture"></span>
                                    <input id="note_img_content" name="files" type="file">
                                 上传照片
                            </div>
                        </span>
                    </div>
                    <div class="edit_content add_title_con">
                        <input type="text" class="form-control input-lg" id="inputEmail3" placeholder="输入段落标题...">
                        <hr>
                        <button type="button" class="add_title_btn btn btn-default">&nbsp;&nbsp;&nbsp;
                            确定&nbsp;&nbsp;&nbsp;
                        </button>

                    </div>
                </div>
                <div>
                    <p title=""></p>
                </div>
                {#                <div>#}
                {#                    <a href="#" role="button">#}
                {#                        <img src="/static/media/images/2187e058-e5cd-5dc3-9287-b1df3bb2ee1a.jpg" alt="图片">#}
                {#                    </a>#}
                {#                </div>#}

        </div>
    </div>