{% extends "base_with_menu.html" %}
{% block title %} 首页 {% endblock title %}
{% block content %}
<div class="container" style="min-height: 60rem">
    <p>这才是首页</p>
    <div id="file_test">
        <file-upload
                :options="file_options"
                v-on:upload_validation="upload_validation"
        >
        </file-upload>
    </div>






<button type="button" id="default_uoload_button">开始上传</button>
</div>
<script src="/static/js/vendor/vue.js"></script>
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/js/vendor/jquery.iframe-transport.js"></script>
<script src="/static/js/vendor/jquery.fileupload.js"></script>
<script src="/static/js/vendor/jquery.fileupload-process.js"></script>
<script src="/static/js/vendor/jquery.fileupload-validate.js"></script>
<script src="/static/js/vendor-components/file_upload.js"></script>

<script>
    var upload_title_img = new Vue({
        el: '#file_test',
        data:{
            file_options:{
                'url_prefix': '/mycenter/note/create/',
                'singleFile':true,
                'autoUpload':true,
                'file_size':50,
                'file_count_size':5,
                'show_file_name':true,
                'start_upload_button':'default_uoload_button',
            }
        },
        methods:{
            upload_validation:function (err_msg) {
//                console.log(err_msg)
            }
        }
    })
</script>

{% endblock content %}