<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css.map">
    <link rel="stylesheet" href="/static/css/login_and_register.css">
    <script src="/static/js/vendor/jquery-1.11.1.min.js"></script>

</head>
<body>
<img class="auto-background-img" src="/static/media/images/sysimg/旅游_背景图片_家.jpg" alt="">

<div class="container">
    <div class="container-top">
        <a href="/"><img src="/static/media/icon/icon/lvyou_128x128_lv.png" alt="旅游"></a>
    </div>
    <div class="login-box">

        <form id="submit_login" action="/user/login/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="input" v-on:blur="username_blur" v-model="username" name="username" class="form-control"
                       id="username" placeholder="username">
                {% if user_msg %}
                    <p>用户名不存在</p>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" v-on:blur="password_blur" v-model="password" name="password" class="form-control"
                       id="exampleInputPassword1"
                       placeholder="Password">
                {% if psd_msg %}
                    <p>密码错误</p>
                {% endif %}
            </div>
            {% if active_msg %}
                <p>账户被禁用</p>
            {% endif %}
            <button type="submit" class="btn btn-default form-control">登陆</button>
        </form>

    </div>
    <div class="switch_login_register"><span>还没有账号<a href="/to_register/">去注册</a></span></div>
</div>


</body>
<script src="/static/js/vendor-components/vue2.0/vue.js"></script>
<script src="/static/js/vendor/bootstrap.js"></script>
<script>

    var register = new Vue({
        delimiters: ['{$', '$}'],
        el: "#submit_login",
        data: {
            "username": null,
            "password": null,
        },
        methods: {
            username_blur: function () {
                $("[name='username']").parent().find("p").detach();
                if (this.username === null || this.username === "") {
                    var p = '<p>用户名不能为空！</p>    ';
                    $(p).insertAfter($("[name='username']"))
                } else if (this.username.toString().length < 4) {
                    var p = '<p>用户名长度必须大于5！</p>    ';
                    $(p).insertAfter($("[name='username']"))
                }
            },
            password_blur: function () {
                $("[name='password']").parent().find("p").detach();
                if (this.password === null || this.password === "") {
                    var p = '<p>密码不能为空</p>    ';
                    $(p).insertAfter($("[name='password']"))
                } else if (this.password.toString().length < 4) {
                    var p = '<p>密码长度至少4位</p>    ';
                    $(p).insertAfter($("[name='password']"))
                }
            },
            on_submit: function (event) {
                if (this.username === null || this.password === null) {
                    $("[name='password']").parent().find("p").detach();
                    var p = '<p>用户名或者密码不能为空！</p>';
                    $(p).insertAfter($("[name='password']"))
                    event.preventDefault();
                }
                else if (this.username.toString() < 4 || this.password.toString().length < 4) {
                    event.preventDefault();
                }
            }
        }
    })
</script>

</html>