{% extends "base_with_menu.html" %}
{% block title %} 攻略 {% endblock title %}
{% block content %}
<style>
/*

{##}
{#    .feed-item {#}
{#        padding: 20px 0;#}
{#        font-size: 14px;#}
{#        line-height: 24px;#}
{#    }#}
{##}
{#    .feed-item a {#}
{#        display: block;#}
{#    }#}
{##}
{#    .feed-item:hover {#}
{#        background-color: #f8f8f8;#}
{#        padding: 21px 15px 20px;#}
{#        margin: -1px -15px 0;#}
{#    }#}
{##}
{#    .feed-item:hover .title {#}
{#        color: #ff9d00;#}
{#    }#}
{##}
{#    .feed-item .stat {#}
{#        float: right;#}
{#        padding: 0 15px;#}
{#        line-height: 30px;#}
{#        border: 1px solid #ff9d00;#}
{#        border-radius: 15px;#}
{#        font-size: 14px;#}
{#        background-color: #fff;#}
{#        color: #666;#}
{#    }#}
{##}
{#    .feed-item a:hover {#}
{#        text-decoration: none;#}
{#    }#}
{##}
{#    .feed-item .stat .num {#}
{#        color: #ff9d00;#}
{#    }#}
{##}
{#    .feed-item .title {#}
{#        margin-bottom: 15px;#}
{#        font-size: 20px;#}
{#        color: #333;#}
{#    }#}
{##}
{#    .feed-item .art dt {#}
{#        float: left;#}
{#        width: 220px;#}
{#        display: inline;#}
{#        margin-right: 20px;#}
{#    }#}
{##}
{#    .feed-item .art dd {#}
{#        overflow: hidden;#}
{#    }#}
{##}
{#    .feed-item .art .info {#}
{#        height: 102px;#}
{#        padding-top: 10px;#}
{#        margin-bottom: 16px;#}
{#        color: #666;#}
{#    }#}
{##}
{#    .feed-item .ext-r {#}
{#        float: right;#}
{#        color: #999;#}
{#        line-height: 22px;#}
{#        font-size: 12px;#}
{#    }#}
{##}
{#    .feed-item .txt {#}
{#        margin-bottom: 15px;#}
{#        color: #666;#}
{#    }#}
{##}
{#    .feed-item .imgs li {#}
{#        float: left;#}
{#        width: 220px;#}
{#        display: inline;#}
{#        margin-right: 15px;#}
{#    }#}
{##}
{#    .feed-item .imgs .ext-r {#}
{#        float: right;#}
{#        margin: 0;#}
{#        width: auto;#}
{#        line-height: 130px;#}
{#    }#}
{##}
{#    .feed-item .art-tag {#}
{#        float: left;#}
{#        margin-right: 10px;#}
{#        padding: 0 15px;#}
{#        line-height: 20px;#}
{#        font-size: 12px;#}
{#        border: 1px solid #e5e5e5;#}
{#        background-color: #f6f6f6;#}
{#        border-radius: 10px;#}
{#        color: #666;#}
{#    }#}

*/
</style>
<section>
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-4 col-xs-0">#}
{#                <div class="btn-group-vertical">#}
{#                    <button type="button" class="btn btn-default">1</button>#}
{#                    <button type="button" class="btn btn-default">2</button>#}
{#                    <div class="btn-group">#}
{#                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
{#                            Dropdown#}
{#                            <span class="caret"></span>#}
{#                        </button>#}
{#                        <ul class="dropdown-menu" role="menu">#}
{#                            <li><a href="#">Dropdown link</a></li>#}
{#                            <li><a href="#">Dropdown link</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-8 col-xs-12">#}
{##}
{##}
{#                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">#}
{#                    <!-- Indicators -->#}
{#                    <ol class="carousel-indicators">#}
{#                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
{#                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>#}
{#                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>#}
{#                    </ol>#}
{##}
{#                    <!-- Wrapper for slides -->#}
{#                    <div class="carousel-inner" role="listbox">#}
{#                        <div class="item active">#}
{#                            <img class="img-responsive" src="/static/images/wKgBpVXdaAyAdXHmAAUEiewrHgk939.png"#}
{#                                 alt="轮播图">#}
{#                            <div class="carousel-caption">#}
{#                                描述1#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <img class="img-responsive" src="/static/images/wKgBs1f_CsOABWR7AAQ14P112CE80.jpeg"#}
{#                                 alt="轮播图">#}
{#                            <div class="carousel-caption">#}
{#                                描述2#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <img class="" src="/static/images/wKgBs1fiOb2AZ0iLAAXKPlppDnM017.png" alt="轮播图">#}
{#                            <div class="carousel-caption">#}
{#                                描述3#}
{#                            </div>#}
{#                        </div>#}
{#                        ...#}
{#                    </div>#}
{##}
{##}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{##}
{#<section>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-3">#}
{#                第二个人段落侧边栏#}
{#            </div>#}
{#            <div class="col-md-9">#}
{#                <h3>推荐攻略</h3>#}
{#                <hr>#}
{#                <div class="feed-item _j_feed_item" data-fid="9053" data-type="5" data-cs-p="位置_2">#}
{#                    <a href="#" target="_blank">#}
{#                        <div class="bar clearfix">#}
{#                            <span class="stat"><span class="num">60</span> 收藏过<i class="icon-hand"></i></span>#}
{#                            <span class="type"><i class="icon-notes"></i>来自 <strong>官方账号</strong></span>#}
{#                        </div>#}
{#                        <div class="title">#}
{#                            极地特快，一趟开往北极的神秘列车#}
{#                        </div>#}
{#                        <div class="txt">#}
{#                            <div class="info">在世界之巅的阿拉斯加，终年运营着一趟开往神秘北极的极地列车。这趟世界上独一无二的极地特快是造访神秘北极不二之选。</div>#}
{#                        </div>#}
{#                        <div class="imgs">#}
{#                            <ul class="clearfix">#}
{#                                <li><img#}
{#                                        src="http://c2-q.mafengwo.net/s9/M00/D5/32/wKgBs1ekBZeAQGFwAAOokGfTs9k61.jpeg?imageMogr2%2Fthumbnail%2F%21220x130r%2Fgravity%2FCenter%2Fcrop%2F%21220x130%2Fquality%2F100">#}
{#                                </li>#}
{#                                <li><img#}
{#                                        src="http://b4-q.mafengwo.net/s9/M00/5A/EB/wKgBs1ei7nmAWN33AAGSwW0sJFY72.jpeg?imageMogr2%2Fthumbnail%2F%21220x130r%2Fgravity%2FCenter%2Fcrop%2F%21220x130%2Fquality%2F100">#}
{#                                </li>#}
{#                                <li><img#}
{#                                        src="http://n1-q.mafengwo.net/s9/M00/5B/81/wKgBs1ei7x6AGKCfAAZsUXMvlgo64.jpeg?imageMogr2%2Fthumbnail%2F%21220x130r%2Fgravity%2FCenter%2Fcrop%2F%21220x130%2Fquality%2F100">#}
{#                                </li>#}
{#                                <li class="ext-r">9389浏览</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <hr>#}
{#                <div class="feed-item _j_feed_item" data-fid="7502" data-type="2" data-cs-p="位置_3">#}
{#                    <a href="#" target="_blank">#}
{#                        <div class="bar clearfix">#}
{#                            <span class="stat"><span class="num">2102</span> 收藏过<i class="icon-hand"></i></span>#}
{#                            <span class="type"><i class="icon-wenda"></i>来自 <strong>问答</strong></span>#}
{#                        </div>#}
{#                        <div class="title">#}
{#                            旅途中有没有那么一首歌，陪你翻山又过河？#}
{#                        </div>#}
{#                        <dl class="art clearfix">#}
{#                            <dt>#}
{#                                <img src="http://c2-q.mafengwo.net/s9/M00/07/BE/wKgBs1d0r16AWBxSAADv7WVBPKs80.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F100">#}
{#                            </dt>#}
{#                            <dd>#}
{#                                <div class="info">#}
{#                                    在我的旅行中，有一个人的，也有三两好友一起出行的，当然更多的是两个人的旅程，其实旅途中，大约还是一个人的时候出现单曲循环听音乐的情况居多。我也是一个会在一段时间内单曲循环N次同一首歌的人，有时候是因为歌确实好听，可有时候却是因为这首歌完全符合了自己当时的心情。所以说，在旅行这样一个最容易激发自己各...#}
{#                                </div>#}
{#                                <span class="art-tag">实用指南</span><span class="art-tag">登山</span>#}
{#                                <div class="ext-r"><span class="nums">79105浏览，434回答</span></div>#}
{#                            </dd>#}
{#                        </dl>#}
{#                    </a>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</section>
<div class="container">
<div class="col-lg-8">
    111
</div>
<div class="col-lg-4">
    22
</div>
</div>

{% endblock content %}